html{
    scroll-behavior: smooth;
}

body
{
    background-color: #462828;
}


.intro
{
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 14%;
    animation: ease-in;
}


section .intro p{
    font-family: 'Tropical Nature', sans-serif;
    color: #f39c31;
    font-size: 112px;
    padding-right: 60px;

}

section .intro img
{
    width: 35%;
    
}


.detector
{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 10%;
}

.detector p{
    font-family: 'Tropical Nature', sans-serif;

    color: #f39c31;
    font-size: 50px;
    margin-top: 10%;
    margin-right: 10%;

}

.card
{
    background-color: #f39c31;
    width: 50%;
    border-radius: 7px;
}

.card form
{
    margin-top: 5%;
    margin-left: 20px;
    font-family: 'Acme', sans-serif;

}

.card form label
{
    font-family: 'Acme', sans-serif;

}

.card form input
{
    padding: 5px;
    margin-bottom: 25px;
    border: 2px solid #f39c31;
    border-radius: 5px;
    font-family: 'Acme', sans-serif;
}

/* .card form input:focus-within
{
    color: white;
} */

.card form #subtn
{
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Acme', sans-serif;
    border-radius: 5px;
    border: 2px solid #f39c31;

}