html{
    scroll-behavior: smooth;
}

body
{
    background-color: #462828;
}

section
{
    display: flex;
    flex-direction: row;
}


.intro
{
    width: 80%;
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 14%;
   
   
}



section .intro p{
    font-family: 'Tropical Nature', sans-serif;
    color: #f39c31;
    font-size: 112px;
    padding-right: 60px;

   


}

section .intro span{
    font-size: 20px;

}



section .intro img
{
    width: 45%;
    
}


/* Description */
.description
{
    width: 50%;
    height: 90%;
    border-radius: 5px;
    margin-top: 14%;

    

   
}

.description h3 {
    font-family: 'Acme', sans-serif;
    padding-left: 5px;
    color: #f39c31;
    font-size: 50px;

}

.description p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    margin-bottom: 30px;
}

#akanbtn
{
    padding: 10px;
    background-color: transparent;
    border: 2px solid #f39c31;
    color: whitesmoke;
    border-radius: 5px;
    margin-left: 35%;
    margin-bottom: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}






  
















article
{
    display: none;
}


.detector
{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 10%;
}

.detector p{
    font-family: 'Tropical Nature', sans-serif;

    color: #f39c31;
    font-size: 50px;
    margin-top: 10%;
    margin-right: 10%;

}

.card
{
    background-color: #f39c31;
    width: 50%;
    border-radius: 7px;
}

.card form
{
    margin-top: 5%;
    margin-left: 20px;
    font-family: 'Acme', sans-serif;

}

.card form label
{
    font-family: 'Acme', sans-serif;

}

.card form input
{
    padding: 5px;
    margin-bottom: 15px;
    border: 2px solid #f39c31;
    border-radius: 5px;
    font-family: 'Acme', sans-serif;
}



.card form #subtn
{
    padding: 10px;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5px;
    font-family: 'Acme', sans-serif;
    border-radius: 5px;
    border: 2px solid black;
    background-color: transparent;

}