html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body
{
    background-color: #462828;
}

section
{
    display: flex;
    flex-direction: row;
    margin-bottom: 15%;
}


.intro
{
    width: 80%;
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 14%;
   
   
}



section .intro p{
    font-family: 'Tropical Nature', sans-serif;
    color: #f39c31;
    font-size: 112px;
    padding-right: 60px;
}



section .intro p:hover
{
    transform: translateY(-20px);
    transition: 1s;
}






section .intro span{
    font-size: 20px;

}



section .intro img
{
    width: 45%;
    
}

section .intro img:hover
{
    transform: translateX(20px);

    transition: 1s;
}


/* Description */
.description
{
    width: 50%;
    height: 90%;
    border-radius: 5px;
    margin-top: 14%;

    

   
}

.description h3 
{
    font-family: 'Acme', sans-serif;
    padding-left: 5px;
    color: #f39c31;
    font-size: 50px;

}

.description h3:hover
{
    transform: translateY(-10px);
    transition: 1s;
    font-size: 62px;
}




.description p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    margin-bottom: 30px;
}

#akanbtn
{
    padding: 10px;
    background-color: transparent;
    border: 2px solid #f39c31;
    color: whitesmoke;
    border-radius: 5px;
    margin-left: 35%;
    margin-bottom: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#akanbtn:hover
{
    transform: translateY(-5px);
    transition: 1s;
    padding: 15px;
    border: 2px solid whitesmoke;
    color: #f39c31;
    font-size: 15px;
}


/* Media Quries for Section */

@media only screen  and (min-width:300px) and (max-width:1000px){
    section{
        display: block;
    }

    .intro
    {
        width: 100%;
    }

    .description
    {
        width: 100%;
    }

    .description h3 
    {
        text-align: center;
    }
    .description p 
    {
        text-align: center;
    }
    .description a 
    {
        margin-left: 10%;
    }


    
}
/* End of Media Quries for Section */






/* End of Landing page */
  














/* Form  */




.detector
{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    margin-top: 10%;
}

.detector p{
    font-family: 'Tropical Nature', sans-serif;

    color: #f39c31;
    font-size: 50px;
    margin-top: 10%;
    margin-right: 10%;

}

.card
{
    width: 50%;
    border-radius: 7px;
    border: 2px solid #f39c31;
}

.card h3
{
    color: #f39c31;
    text-align: center;
}


.card h3:hover
{
    transform: translateY(-5px);
    transition: 1s;
    font-size: 20px;
}




.card form
{
    margin-top: 5%;
    margin-left: 20px;
    font-family: 'Acme', sans-serif;

}

.card form label
{
    font-family: 'Acme', sans-serif;
    color: whitesmoke;

}

.card form input
{
    padding: 5px;
    margin-bottom: 15px;
    border: 2px solid #f39c31;
    border-radius: 5px;
    font-family: 'Acme', sans-serif;
}



.card form #subtn
{
    padding: 10px;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5px;
    font-family: 'Acme', sans-serif;
    border-radius: 5px;
    border: 2px solid #f39c31;
    background-color: transparent;
    color: whitesmoke;

}


.card form #subtn:hover
{
    border: 2px solid whitesmoke;
    transition: 1s;
    color: #f39c31;
}




/* Media Queries for Form */
@media only screen  and (min-width:300px) and (max-width:1000px){

    .detector
    {
        width: 100%;
        margin-left: 5%;
    }

    .card
    {
        width: 100%;
    }
}
/* End of Media Queries for Form */